.game_board {
    margin: auto;
    width: 800px;
    height: 600px;
    background-color: aliceblue;
    position:relative;
}

.square {
    border: 1px solid #000;
    position: absolute;
}

.round {
    border: 1px solid #000;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}